/* RESET STYLES */
@import url(reset.css);
/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;1,600&display=swap');
/* ---------------- */
body {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #5B5B5B;
    background-color: #fff;
}
body._lock {
	overflow: hidden;
}

/* ---------------- */
.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    overflow: clip;
}
/* ---------------- */
.page {
    flex: 1 1 auto;
}
.page__main {
}
.page__destinations {
}
.page__hotels {
}
.page__tips {
}
.page__activities {
}
.page__about {
}
/* ---------------- */
[class*="__container"] {
    max-width: 1406px;
    margin: 0 auto;
    padding: 0 15px;
}
/* --------IBG-------- */
.ibg {
    position: relative;
}

.ibg img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/* --------BUTTON-------- */
.button {
    border-radius: 12px;
    background: #7B61FF;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease 0s;
}
.button:hover {
    background: #5743bd;
}
.button-view-all {
    display: inline-block;
    position: relative;
    border-radius: 12px;
    background: #F6F4FF;
    padding: 10px 34px 10px 10px;
    color: #5243C2;
    font-style: normal;
    line-height: normal;
    transition: all 0.3s ease 0s;
}
.button-view-all::before {
    position: absolute;
    content: '';
    background: url('../img/hotels/arrow.svg') no-repeat;
    width: 20px;
    height: 20px;
    right: 6px;
    top: 55%;
    transform: translateY(-50%);
}
.button-view-all:hover {
    background: #d3d1db;
}

/* --------HEADER-BLOCK-------- */
.header-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 20px;
    row-gap: 10px;
}
.header-block:not(:last-child) {
    margin-bottom: 64px;
}
@media (max-width: 767.98px) {
    .header-block {
        flex-direction: column;
        align-items: flex-start;

    }
    .header-block:not(:last-child) {
        margin-bottom: 30px;
    }
}
/* --------TITLE-------- */
.title {
    color: #161414;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}


/* --------RETING-------- */
.simple-rating {
    position: relative;
    font-size: 18px;
    display: inline-block;
}
.simple-rating::before {
    content: '★★★★★';
    display: block;
}
.simple-rating__items {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: row-reverse;
    overflow: hidden;
}
.simple-rating__item {
    position: absolute;
    width: 0%;
    height: 0%;
    opacity: 0;
    visibility: hidden;
    top: 0;
    left: 0;
}
.simple-rating__label {
    flex: 0 0 20%;
    height: 100%;
    cursor: pointer;
    color: #f0dbbb;
}
.simple-rating__label::before {
    content: '★';
    display: block;
    transition: color 0.3s ease all;
}

.simple-rating__item:checked,
.simple-rating__item:checked ~ .simple-rating__label {
 
    color: #fbb040;
}

.simple-rating__label:hover,
.simple-rating__label:hover ~ .simple-rating__label,
.simple-rating__label:checked ~ .simple-rating__label:hover {
    color: #ffef9f;
}
/* --------HEADER-------- */
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 50;
    background-color: rgba(0, 0, 0, 0.7);

}
.header__container {
    min-height: 110px;
    /* display: flex;
    align-items: center; */
    display: grid;
    grid-template-columns: 88px 1fr minmax(144px, auto);
    align-items: center;
    column-gap: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
}
.header__logo {
}
.header__menu {
}
.menu {
    flex: 1 1 auto;
}
.menu__body {
}
.menu__list {
    display: flex;
    column-gap: 54px;
    row-gap: 15px;
    flex-wrap: wrap;
    justify-content: center;
}
.menu__item {
}
.menu__link {
    color: #FFF;
    font-size: 14px;
    font-weight: 300;
    line-height: normal;
    opacity: 0.7;
    transition: all 0.3s ease 0s;
}
.menu__link:hover {
    opacity: 1;
}
.header__user {
}
.user-header {
    position: relative;
    display: flex;
    align-items: center;
    gap: 8px;  
}

.user-header__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}
.user-header__hello {
    color: #FFF;
    font-size: 14px;
    font-weight: 400;
    line-height: normal;
    opacity: 0.5;
}
.user-header__name {
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    line-height: normal;
}
.user-header__image {
    border-radius: 50%;
    overflow: hidden;
    flex: 0 0 48px;
    height: 48px;
}
.user-header__image::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 12px;
    height: 12px;
    background-color: #ff0000;
    border-radius: 50px;
}
.user-header__image img {
    max-width: 100%;
}
.icon-menu {
    display: none;
}

@media (max-width: 767.97px) {
    .header__container {
        display: flex;
        min-height: 90px;
    }
    .icon-menu {
        display: block;
        flex: 0 0 30px;
        height: 18px;
        position: relative;
        z-index: 5;
    }
    .icon-menu span,
    .icon-menu::before,
    .icon-menu::after {
        content: '';
        right: 0;
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: #fff;
        transition: all 0.3s ease 0s;
    }
    .icon-menu::before {
        top: 0;
    }
    .icon-menu::after {
        bottom: 0;
    }
    .icon-menu span {
        top: calc(50% - 1px);
        
    }
    .icon-menu._active span {
        transform: scale(0);
    }
    .icon-menu._active::before {
        transform: rotate(-45deg);
        top: calc(50% - 1px);
    }
    .icon-menu._active::after {
        transform: rotate(45deg);
        top: calc(50% - 1px);
    }
    .menu__body {
        position: fixed;
        z-index: 1;
        width: 100%;
        height: 100%;
        top: 0;
        left: -100%;
        padding-top: 100px;
        transition: left 0.3s ease 0s;
        background-color: #000;
        z-index: -1;
    }
    .menu__body._active {
        left: 0;
    }
    .menu__body::before {
        content: '';
        width: 100%;
        position: fixed;
        top: 0;
        left: -100%;
        height: 70px;
        background-color: #000;
        z-index: 2;
        transition: left 0.3s ease 0s;
    }
    .menu__body._active::before {
        left: 0;
    }
    .menu__list {
        flex-direction: column;
        align-items: center;
    }
    .menu__link {
        font-size: 24px;
    }
}

@media (max-width: 476.97px) {
    .header__container {
        min-height: 0px;
    }
    .user-header__content {
        display: none;
    }
}

/* --------MAIN-------- */
.main {
    position: relative;
    padding-top: 262px;
    padding-bottom: 100px;
    border-radius: 0px 0px 54px 54px;
    overflow: hidden;
}
.main > img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}
.main__container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.main__title {
    color: #FFF;
    font-size: 48px;
    font-weight: 600;
    line-height: 129%; /* 129.167% */
    text-align: center;
}
.main__title:not(:last-child) {
    margin-bottom: 32px;
}
.main__button {
}
.button-main {
    display: flex;
    align-items: center;
    gap: 8px;
    border-radius: 12px;
    background: #7B61FF;
    min-height: 72px;
    padding: 0 24px;
    transition: all 0.3s ease 0s;
}
.button-main:not(:last-child) {
    margin-bottom: 184px;
}
.button-main:hover {
    background: #5743bd;
}
.button-main__text {
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    line-height: 133.33%;
}
.main__search {
}
.search-main {
    display: grid;
    grid-template-columns: minmax(auto, 300px) repeat(3, minmax(auto, 254px)) auto;
    /* display: flex;
    flex-wrap: wrap; */
    border-radius: 12px;
    background: #FFF;
    padding: 8px;
    align-items: center;
}
.search-main__column {
    padding: 16px;
    display: flex;
    align-items: center;
    column-gap: 16px;
}
.search-main__icon {
}
.search-main__content {
    display: flex;
    flex-direction: column;
}
.search-main__label {
    color: #5B5B5B;
    font-size: 14px;
    font-weight: 300;
    line-height: 114%; /* 114.286% */
}
.search-main__select {
    font-family: Poppins;
    color: #161414;
    font-size: 16px;
    font-weight: 500;
    line-height: normal;
    outline: none;
}
.search-main__option {
    
}
.search-main__button {
    width: 60px;
    height: 60px;
}

@media (max-width: 991.98px) {
    .main {
        padding-top: 220px;
        padding-bottom: 70px;
    }
    .main__title {
        font-size: 44px;
    }
    .button-main:not(:last-child) {
        margin-bottom: 120px;
    }
    .search-main {
        grid-template: repeat(2, 1fr) / repeat(2, 1fr);
    }
}

@media (max-width: 767.98px) {
    .main {
        padding-top: 140px;
        padding-bottom: 50px;
    }
    .main__title {
        font-size: 36px;
    }
    .button-main:not(:last-child) {
        margin-bottom: 40px;
    }
    .search-main {
        grid-template: repeat(5, 1fr) / 1fr;
    }
}
/* --------DESTINATIONS-------- */

.destinations {
    padding-top: 120px;
    padding-bottom: 60px;
}
.destinations__container {
}
.destinations__title {

}
.destinations__content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(195px, 1fr));
    gap: 32px;
}
.content-destinations {
}
.content-destinations__column {
    display: flex;
    flex-direction: column;
}
.content-destinations__image {
    display: block;
    border-radius: 12px;
    overflow: hidden;
    padding-bottom: 89.16%;
}
.content-destinations__image:not(:last-child) {
    margin-bottom: 8px;
}
.content-destinations__image img {
    transition: all 0.3s ease 0s;
}
.content-destinations__image img:hover {
    transform: scale(1.1);
}
.content-destinations__title {
    color: #161414;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    align-self: flex-start;
}
.content-destinations__title:hover {
    text-decoration: underline;
}
.content-destinations__location {
    font-size: 13px;
    line-height: normal;
    color: #979797;
}

@media (max-width: 991.98px) {
    .destinations {
        padding-top: 100px;
        padding-bottom: 40px;
    }
}

@media (max-width: 767.98px) {
    .destinations {
        padding-top: 60px;
        padding-bottom: 30px;
    }
}
/* --------HOTELS-------- */
.hotels {
    padding-top: 60px;
    padding-bottom: 60px;
}
.hotels__container {
}
.hotels__header {
}
.hotels__title {
}
.hotels__body {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
    gap: 32px;
}
.hotels__column {
}
.column-hotels {
    display: flex;
    flex-direction: column;
}
.column-hotels__image {
    display: block;
    border-radius: 12px;
    overflow: hidden;
    padding-bottom: 118.75%;
}
.column-hotels__image img {
    transition: all 0.3s ease 0s;
}
.column-hotels__image img:hover {
    transform: scale(1.1);
}
.column-hotels__image:not(:last-child) {
    margin-bottom: 10px;
}
.column-hotels__title {
    display: block;
    color: #161414;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    align-self: flex-start;
}
.column-hotels__title:not(:last-child) {
    margin-bottom: 12px;
}
.column-hotels__title:hover {
    text-decoration: underline;
}
.column-hotels__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.column-hotels__location {
    padding-left: 20px;
    position: relative;
    color: #979797;
    font-size: 13px;
    font-style: normal;
    line-height: normal;
}
.column-hotels__location::before {
    position: absolute;
    content: '';
    background: url('../img/hotels/location.svg') no-repeat;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    width: 16px;
    height: 16px;
}
.column-hotels__rating {
}

@media (max-width: 991.98px) {
    .hotels {
        padding-top: 40px;
        padding-bottom: 40px;
    }
}

@media (max-width: 767.98px) {
    .hotels {
        padding-top: 30px;
        padding-bottom: 30px;
    }
}

/* --------TIPS-------- */
.tips {
    padding-top: 60px;
    padding-bottom: 60px;
}
.tips__container {
}
.tips__header {
}
.hotels__title {
}
.hotels__button {
}
.tips__body {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    gap: 32px;
}
.tips__column {
}
.column-tips {
    display: flex;
    gap: 32px;
}
.column-tips__image {
    display: block;
    flex: 0 1 50%;
    /* padding-bottom: 118.75%; */
    /* padding-bottom: 56.55%; */
    border-radius: 24px;
    overflow: hidden;
    text-align: center;
}
.column-tips__image img {
    transition: all 0.3s ease 0s;
}
.column-tips__image img:hover {
    transform: scale(1.1);
}
.column-tips__content {
    flex: 0 1 50%;
    display: flex;
    flex-direction: column;
    row-gap: 16px;
}
.column-tips__title {
    display: block;
    color: #161414;
    font-size: 20px;
    font-weight: 600;
    font-style: normal;
    line-height: normal;
    align-self: flex-start;
}
.column-tips__title:hover {
    text-decoration: underline;
}
.column-tips__text {
    flex: 1 1 auto;
    font-style: normal;
    line-height: 200%;
}
.column-tips__info {
    display: flex;
    column-gap: 24px;
    color: #878787;
    font-size: 12px;
    font-style: normal;
    line-height: normal;
}
.column-tips__info > *::before {
    position: absolute;
    content: '';
    background: url('../img/tips/date.svg') no-repeat;
    width: 16px;
    height: 16px;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
}
.column-tips__date {
    position: relative;
    padding-left: 20px;
    display: flex;
    align-items: center;
}

.column-tips__date::before {
    background: url('../img/tips/date.svg') no-repeat;
}
.column-tips__author {
    position: relative;
    padding-left: 20px;
    display: flex;
    align-items: center;
}
.column-tips__author::before {
    background: url('../img/tips/author.svg') no-repeat;
}
.column-tips__comments {
    position: relative;
    padding-left: 20px;
    display: flex;
    align-items: center;
}
.column-tips__comments::before {
    background: url('../img/tips/comments.svg') no-repeat;
}
.column-tips__comments:hover {
    text-decoration: underline;
}

@media (max-width: 991.98px) {
    .tips {
        padding-top: 40px;
        padding-bottom: 40px;
    }
}

@media (max-width: 767.98px) {
    .tips {
        padding-top: 30px;
        padding-bottom: 30px;
    }
    .tips__body {
        grid-template-columns: auto;
    }
    .column-tips {
        flex-direction: column;
    }
    .column-tips__image {
        flex: 1 1 auto;
    }
    .column-tips__content {
        flex: 1 1 auto;
    }
}
/* --------ACTIVITIES-------- */

.activities {
    padding-top: 60px;
    padding-bottom: 60px;
}
.activities__container {
}
.activities__header {
}
.hotels__title {
}
.hotels__button {
}
.activities__body {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
    gap: 32px;
}
.activities__column {
}
.column-activities {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
}
.column-activities__image {
    display: block;
    border-radius: 12px;
    overflow: hidden;
    padding-bottom: 118.75%;
}
.column-activities__image img {
    transition: all 0.3s ease 0s;
}
.column-activities__image img:hover {
    transform: scale(1.1);
}
.column-activities__title {
    display: inline;
    color: #161414;
    font-weight: 500;
    font-style: normal;
    line-height: normal;
    align-self: flex-start;
}
.column-activities__title:hover {
    text-decoration: underline;
}

@media (max-width: 991.98px) {
    .activities {
        padding-top: 40px;
        padding-bottom: 40px;
    }
}

@media (max-width: 767.98px) {
    .activities {
        padding-top: 30px;
        padding-bottom: 30px;
    }
}

/* --------ABOUT-------- */
.about {
    padding-top: 60px;
    padding-bottom: 60px;
}
.about__container {
    max-width: 1144px;
}
.about__body {
    display: flex;
    gap: 32px;
}
.about__content {
    flex: 0 1 50%;
    display: flex;
    flex-direction: column;
    row-gap: 32px;
    justify-content: center;
}
.about__title {
    
}
.about__text {
    line-height: 200%;
}
.about__button {
    align-self: flex-start;
}
.about__image {
    flex: 0 1 50%;
}

.about__image img {
    border-radius: 24px;
    overflow: hidden;
}

@media (max-width: 991.98px) {
    .about {
        padding-top: 40px;
        padding-bottom: 40px;
    }
    .about__body {
        flex-direction: column;
    }
    .about__content {
        row-gap: 20px;
    }
    .about__image {
        text-align: center;
    }
}

@media (max-width: 767.98px) {
    .about {
        padding-top: 30px;
        padding-bottom: 30px;
    }
}